<p style="color: green"><%= notice %></p>

<h1>Photo Products</h1>
<%= button_to "New Photo Product", new_photo_path, :class => ['button', 'is-info'] %><br>
<div id="photos">
  <% @photos.each do |photo| %>
    <p> 
    <%= link_to "#{photo.title}", photo %>
    </p>
  <% end %>
</div>

