<h1>Card Products</h1>

<%= button_to "New card", new_card_path, :class => ['button', 'is-info'] %>
<br>
<div id="photos">
  <% @cards.each do |card| %>
    <p>
    <%= link_to "#{card.title}", card %>
    </p>
  <% end %>
</div>

