<p style="color: green"><%= notice %></p>

<h1>Card Products</h1>

<div id="photos">
  <% @cards.each do |card| %>
    <%= render card %>
    <p>
      <%= link_to "Show this photo", card %>
    </p>
  <% end %>
</div>

<%= link_to "New card", new_card_path %>
