<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.prodigitalphotos.com/home">
      <img src="https://www.prodigitalphotos.com/npics/logo.b.jpg" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
	  <div class="navbar-end">
		  <div class="navbar-item has-dropdown">
  			<a class="navbar-link">
    			    Card Store	
  			</a>
  		  </div>

		  <div class="navbar-item has-dropdown">
  			<a class="navbar-link">
    			    Photo Products
  			</a>
  		  </div>
		    <a class="navbar-item">
                        Information
  		    </a>
		      <a class="navbar-item">
    			Help
  		      </a>
		</div>
	  </div>
  </div>	  
</nav>
